*{
    margin:0px;
    padding:0px;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

    


}
.box{
    height:18vmin;
    width:18vmin;
    border:none;
    border-radius: 1rem;
    font-size: 8vmin;
    color: #fff;
    background-color: brown;
}
#reset{
    padding:1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border:none;

}
#new{
    padding:1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border:none;


}
#msg{
    font-size: 10vmin;
    color:darkgreen;

}
.msgConatainer{
    height: 30vmin;

}
.hide{
    display: none;
}